.post-header{
    display: flex;
    margin-bottom: 10px;
    
    
}
.post-body{
    overflow-wrap: anywhere;

}
.post{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.post-info{
    margin-left: 10px;
}
.action-area{
    margin-top: 20px;
}
.comment-area{
    display: flex;
    justify-content: space-between;
}
.comment-area>textarea{
    background-color: #ededed;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}